﻿@model MindU_I2.Models.RSInput
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@Styles.Render("~/Content/RS_Home.css")
<script>
    $("document").ready(function () {
        $('#about_btn').click(function () {
            $('html, body').animate({
                scrollTop: $(".about").offset().top
            }, 2500);
        });
    });
    $("document").ready(function () {
        $('#service_btn').click(function () {
            $('html, body').animate({
                scrollTop: $(".services_section").offset().top
            }, 2500);
        });
    });
    $("document").ready(function () {
        $('#rs_btn').click(function () {
            $('html, body').animate({
                scrollTop: $(".recommend_system").offset().top
            }, 2500);
        });
    });
</script>
<!--banner-->
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto" style="margin-top:21%; margin-left:10%">
                <h1 class="text-uppercase" style="color:white;">
                    <strong>Your best choice to have a healthy lifestyle</strong>
                </h1>
                <a id="about_btn" class="btn btn-primary btn-xl">WHO WE ARE</a>
                <a id="service_btn" class="btn btn-primary btn-xl">FIND A SERVICE</a>
                <a id="rs_btn" class="btn btn-primary btn-xl">MORE INFO</a>
            </div>
        </div>
    </div>
</header>
<!-- Page Content -->
<!--Section About-->
<section class="about" style="background-color:#F05F40">
    <div class="container">
        <div class="row" style="margin-top:5%;  color:white;">
            <div class="col-lg-12 mx-auto text-center">
                <h1 class="section-heading text-white">WHO WE ARE</h1>
                <p style="font-size:larger">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                <p style="font-size:larger">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                <button class="btn btn-light btn-xl" style="margin-bottom:5%;">Get Started!</button>
            </div>
        </div>
    </div>
</section>
<!--Section Services-->
<section class="services_section" id="services">
    <div class="row">
        <div class="col-lg-3 col-md-6 services-item">
            <div class="b_card-text">
                <a href='@Url.Action("Index", "Arts")'>
                    <img src="@Url.Content("~/Images/boxes/ph_test.png")" alt="conditions">
                </a>
                <h1 class="b_card-title">
                    Professinal Help
                </h1>
                <div class="b_card-body">
                    <p class="b_card-text">
                        need some desciption here
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 services-item">
            <div class="b_card-text">
                <a href='@Url.Action("Index", "Arts")'>
                    <img src="@Url.Content("~/Images/boxes/ph_test.png")" alt="conditions">
                </a>
                <h1 class="b_card-title">
                    Art Spaces
                </h1>
                <div class="b_card-body">
                    <p class="b_card-text">
                        need some desciption here
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 services-item">
            <div class="b_card-text">
                <a href='@Url.Action("Index", "Arts")'>
                    <img src="@Url.Content("~/Images/boxes/ph_test.png")" alt="conditions">
                </a>
                <h1 class="b_card-title">
                    Sports Acvities
                </h1>
                <div class="b_card-body">
                    <p class="b_card-text">
                        need some desciption here
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 services-item">
            <div class="b_card-text">
                <a href='@Url.Action("Index", "Arts")'>
                    <img src="@Url.Content("~/Images/boxes/ph_test.png")" alt="conditions">
                </a>
                <h1 class="b_card-title">
                    Hotlines
                </h1>
                <div class="b_card-body">
                    <p class="b_card-text">
                        need some desciption here
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--.Section Leisure-->
<!--Section RS-->
<!--Section RS-->
@*<div class="col-lg-12" style="background-color:#F7F1E5;">*@
<!--Section RS-->
@*<div class="col-lg-12" style="background-color:#F7F1E5;">*@
@*
    <section class="recommend_system" style="background-color:#F05F40">
        <h2 class="text-center">For more info, tell me what you like...</h2>
        <div style="margin-left:15%; background-color:wheat;">
            @using (Html.BeginForm("Result", "Home", FormMethod.Post))
            {

                <div class="form-group">
                    <div class="col-lg-12">
                        <h3>Are you intereted in arts: </h3>
                    </div>
                    <div class="col-md-1  text-center">
                        @Html.RadioButton("likeArt", true, false, new { @id = "radio-img-1" })
                        @Html.Label("radio-img-1", new { @class = "Yes" })
                    </div>
                    <div class="col-md-1  text-center">
                        @Html.RadioButton("likeArt", false, false, new { @id = "radio-img-2" })
                        @Html.Label("radio-img-2", new { @class = "No" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <h3>Are you intereted in sports:</h3>
                    </div>
                    <div class="col-md-1  text-center">
                        @Html.RadioButton("likeSport", true, false, new { @id = "radio-img-3" })
                        @Html.Label("radio-img-3", new { @class = "Yes" })
                    </div>
                    <div class="col-md-1  text-center">
                        @Html.RadioButton("likeSport", false, false, new { @id = "radio-img-4" })
                        @Html.Label("radio-img-4", new { @class = "No" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <h3>Would you like to talk to professinal experts? </h3>
                    </div>
                    <div class="col-md-1  text-center">
                        @Html.RadioButton("needPH", true, false, new { @id = "radio-img-5" })
                        @Html.Label("radio-img-5", new { @class = "Yes" })
                    </div>
                    <div class="col-md-1  text-center">
                        @Html.RadioButton("needPH", false, false, new { @id = "radio-img-6" })
                        @Html.Label("radio-img-6", new { @class = "No" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <h3>Would you like to know more about mental health conditions? </h3>
                    </div>
                    <div class="col-md-1 text-center">
                        @Html.RadioButton("needInfo", true, false, new { @id = "radio-img-7" })
                        @Html.Label("radio-img-7", new { @class = "Yes" })
                    </div>
                    <div class="col-md-1  text-center">
                        @Html.RadioButton("needInfo", false, false, new { @id = "radio-img-8" })
                        @Html.Label("radio-img-8", new { @class = "No" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1  text-center">
                        <button type="submit" class="btn btn-light btn-xl">Submit</button>
                    </div>
                </div>
            }
        </div>
    </section>*@
@*</div>*@
<!--End Section RS-->
<section class="recommend_system" style="background-color:#F05F40; height:700px; width:100%;">
    <br />
    <h2 class="text-center" style="color:#fff">For more info, tell me what you like...</h2>
    <div class="container" style="background-color:honeydew; height:550px; width:620px; margin-top:1.8%; box-shadow:0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);">
        @using (Html.BeginForm("Result", "Home", FormMethod.Post))
        {
            <div class="form-group">
                <div class="col-lg-12">
                    <h3>Are you interested in arts? </h3>
                </div>
                <div class="col-md-12  text-center">
                    <div class="col-md-3">
                        @Html.RadioButton("likeArt", true, false, new { @id = "radio-img-1" })
                        @Html.Label("radio-img-1", new { @class = "Yes" })
                    </div>
                    <div class="col-md-4  text-center">
                        @Html.RadioButton("likeArt", false, false, new { @id = "radio-img-2" })
                        @Html.Label("radio-img-2", new { @class = "No" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <h3>Are you interested in sports?</h3>
                </div>
                <div class="col-md-12  text-center">
                    <div class="col-md-3  text-center">
                        @Html.RadioButton("likeSport", true, false, new { @id = "radio-img-3" })
                        @Html.Label("radio-img-3", new { @class = "Yes" })
                    </div>
                    <div class="col-md-4  text-center">
                        @Html.RadioButton("likeSport", false, false, new { @id = "radio-img-4" })
                        @Html.Label("radio-img-4", new { @class = "No" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <h3>Are you interested in professinal experts? </h3>
                </div>
                <div class="col-md-12  text-center">
                    <div class="col-md-3  text-center">
                        @Html.RadioButton("needPH", true, false, new { @id = "radio-img-5" })
                        @Html.Label("radio-img-5", new { @class = "Yes" })
                    </div>
                    <div class="col-md-4  text-center">
                        @Html.RadioButton("needPH", false, false, new { @id = "radio-img-6" })
                        @Html.Label("radio-img-6", new { @class = "No" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <h3>Are you interested in mental health conditions? </h3>
                </div>
                <div class="col-md-12  text-center">
                    <div class="col-md-3 text-center">
                        @Html.RadioButton("needInfo", true, false, new { @id = "radio-img-7" })
                        @Html.Label("radio-img-7", new { @class = "Yes" })
                    </div>
                    <div class="col-md-4  text-center">
                        @Html.RadioButton("needInfo", false, false, new { @id = "radio-img-8" })
                        @Html.Label("radio-img-8", new { @class = "No" })
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                    <div class="col-md-12">
                        <br/>
                        <button type="submit" class="btn btn-primary btn-xl" style="margin-left:80%;">Submit</button>
                    </div>
            </div>
        }
    </div>
</section>