﻿
@{
    ViewBag.Title = "Mental Health Context";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/Chart.min.js")
<div class="container">

    <div>
        <ol class="breadcrumb" style="background-color:transparent;">
            <li class="breadcrumb-item">
                <a href="@Url.Action("index", "Home")">
                    <img class="active" src="@Url.Content("~/Images/home_icon2.png")">
                </a>
            </li>
            <li class="breadcrumb-item active">Resources - Mental Health Context</li>
        </ol>
    </div>
    <h2 style="text-align:center">
        Community Mental Health Statistics
    </h2>
    <br>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="context_content">
                This bar graph is a comparison of some basic mental disorders in young university students in Australia diagnosed in the year 2015 – 2016.
                This graph shows where Victoria stands against in mental health issues compared to the national data.
            </p>
            <p class="context_content">
                The greatest reported case on mental health issue is depression followed by personality disorders, behavioral disorder, anxiety, adjustment disorder, eating and affective disorders.
            </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="chart-container" style="width:85%; height:70%;">
                <canvas id="bar-chart1"></canvas>
            </div>
        </div>

    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="context_content">
                The pie chart shows the most common disorders diagnosed in Victoria.
                The data shows depression is the most common form of mental illness.Among the mental health issues 73.04% is diagnosed with depression, which is very alarming.
            </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="chart-container" style="width:85%; height: 70%">
                <canvas id="pie-chart"></canvas>
            </div>
        </div>

    </div>
    @Scripts.Render("~/Scripts/context.js")
</div>

