﻿@model List<MindU_I2.Models.Venue>
@{
    ViewBag.Title = "Service Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://maps.google.com/maps/api/js?key=AIzaSyC-XG2JrTbessPRoSMRbasmtCwBY8oR2iI&libraries=places"
        type="text/javascript"></script>
<!--List the search results-->
<div class="container">
    <div class="img-responsive">
        <img style="width:100%;" src="@Url.Content("~/Images/banners/service.jpg")">
    </div>
    <div>
        <ol class="breadcrumb" style="background-color:transparent;">
            <li class="breadcrumb-item">
                <a href="@Url.Action("index", "Home")">
                    <img class="active" src="@Url.Content("~/Images/home_icon2.png")">
                </a>
            </li>
            <li class="breadcrumb-item active">Services Search</li>
        </ol>
    </div>
    <section class="search">
        <br>
        <div class="form-inline">
            <div>
                <h2 class="text-center" style="color:white;">FIND A SERVICE</h2>
            </div>
            @using (Html.BeginForm("Search", "Services", FormMethod.Post, new { role = "form", @class = "form-inline" }))
            {
                <div class="form-group">
                    <div class="col-md-12" style="width:10%;">
                        @Html.DropDownList("category", new SelectList(ViewBag.selectList, "value", "text", ViewBag.defaultSelect), new { @class = "form-control", @style = "font-size: large;" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-light btn-xl">Search</button>
                    </div>
                </div>
            }
        </div>
    </section>
    <div id="map" style="width:100%; height:500px;" ></div>
    @if (Model.Count() == 0 && ViewBag.result == 1)
    {
        <h3 class="text" style="text-align:center;">No items found</h3>
    }

    <!--Foreach to list art spaces-->
    @foreach (var item in Model)
    {
        <div class="col-lg-6">
            <div class="card" style="width:550px; height:220px;">
                <p class="card__distance">&nbsp;</p>
                <h4 class="card-title">
                    @item.name
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        <img src="@Url.Content("~/Images/info_icons/star.png")">
                        : @item.rating (Google Rating)
                    </p>
                    <p class="card-text">
                        <img src="@Url.Content("~/Images/info_icons/map_icon.png")">
                        : @item.formatted_address
                    </p>
                    <p class="card-text">
                        <img src="@Url.Content("~/Images/info_icons/phone_icon.png")">
                        : @item.formatted_phone_number
                    </p>
                </div>
                @*<p><a class="btn btn-warning" href="@item.website">More info</a></p>*@
                <p class="card__distance">&nbsp;</p>
            </div>
        </div>

    }

</div>
<script type="text/javascript">
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: new google.maps.LatLng(-37.8274812, 144.9352466),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        var jsonString = @Html.Raw(
        Json.Encode(
            (Model).Select(m=> new
            {
                name = m.name,
                lat =m.lat,
                lng = m.lng
            })
        )
    );
        for (var key in jsonString) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(jsonString[key].lat, jsonString[key].lng),
                map: map,
            });
            placeMarker(marker, map, infowindow, jsonString[key].name);

        }

    function placeMarker(marker, map, infowindow, name) {
        marker.addListener('click', function () {
            infowindow.setContent(name);
            infowindow.open(map, this);
        });
    }
</script>
     
