﻿header.masthead {
    background-image: url("../Images/banners/banner.jpg");
    background-position: center center;
}
    header.masthead h1 {
        font-size: 2rem;
    }

    header.masthead p {
        font-weight: 300;
    }

@media (min-width: 768px) {
    header.masthead p {
        font-size: 1.15rem;
    }
}

@media (min-width: 992px) {
    header.masthead {
        min-height: 700px;
        padding-top: 0;
        padding-bottom: 0;
    }

        header.masthead h1 {
            font-size: 3rem;
        }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 4rem;
    }
}


.btn {
    font-weight: 800;
    border: none;
    border-radius: 350px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
    padding: 1rem 2rem;
}

.btn-primary {
    background-color: #F05F40;
    border-color: #F05F40;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
        color: #fff;
        background-color: #ee4b28 !important;
    }

    .btn-primary:active, .btn-primary:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
        box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
    }

.btn-light {
    background-color: white;
    color:rgb(22, 22, 22);
    border-color: #F05F40;
}

    .btn-light:hover, .btn-light:focus, .btn-light:active {

        background-color: rgb(242, 241, 241);
    }

    .btn-lighty:active, .btn-light:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
        box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
    }