﻿body {
    padding-top: 65px;
    padding-bottom: 2px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar {
   min-height:65px;
}
/*Yining*/
.navbar-inverse {
    /*;*/
    border-color: transparent;
    font-size: 25px;
    font-family: "Arial Rounded MT";
    background-color: #F4F4F4;
    /*rgba(166, 219, 216,0.71);#7AC043;rgba(34, 34, 34, 0.5);rgb(41, 188, 122);rgba(34, 34, 34, 0.50);*/
}
    .navbar-inverse .navbar-text {
        color: #4c4c4c;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #4c4c4c;
        padding-top: 20px;
    }
    .navbar-inverse .navbar-brand {
        color: #4c4c4c;
        font-size: 25px;
        padding-top: 20px;
    }
        .navbar-inverse .navbar-brand:hover,
        .navbar-inverse .navbar-brand:focus {
            color: #F05F40;
            height: inherit;
        }
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: #F05F40;
        height: inherit;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #F05F40;
        background-color: #bababa;
        height: inherit;
    }

.dropdown-menu {
    background-color:#fff;
}

/*Body bg #e2e2e0;*/
.page-content {
    background-color: none;
    height: 100%;
    /*top:-50px;*/
}

    /*Style for the footer*/
.footer {
    margin-top: 30%;
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #212529;
    color: #494949;
    text-align: center;
}
    .footer .footer_content {
        color: white;
        font-size: 20px;
        font-family: Arial;
       align-content:center;
    }
.breadcrumb {
    background-color: transparent;
}

.search {
    background-color: #F05F40;
    /*#f7e16a;#57d1cb; #a0a3a5;#7AC043;#c1bfbf;*/
    /*background-image:url('../Images/banners/search_bg2.jpg');*/
    height: 140px;
    text-align: center;
}
.btn btn-warning {
    background-color: #f7ab40;
}
/* Style the tab */
.tab {
    float: left;
    background-color: #f1f1f1;
    width: 30%;
    height: auto;
}

    /* Style the buttons inside the tab */
    .tab button {
        display: block;
        background-color: inherit;
        color: #4c4c4c;
        padding: 8%;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
    }
        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
           color: white;
        }

        /* Create an active/current "tab button" class */
        .tab button.active {
            background-color: rgba(34, 34, 34, 0.5);
        }

/* Style the tab content for search result*/
.tabcontent {
    float: left;
    padding: 0px 20px;
    width: 70%;
    border-left: none;
    height: inherit;
    color: #4c4c4c;
    font-size: 20px;
    text-align:justify;
}
    .tabcontent .p {
        font-size: 20px;
    }
    .tabcontent .h3 {
        font-size: 25px;
        font:bold;
    }
.card {
    margin-top: 5%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-left:5%;
    margin-right:5%;
}

.card-title {
    font: bold;
    padding-left: 5%;
    padding-right: 5%;
}

.card-text {
    font: bold;
    color: #4c4c4c;
    font-size: 18px;
    text-align: justify;
}
.card .card-body {
    padding-left: 5%;
    padding-right: 5%;
}
/* end- Style the tab content for search result*/
/*overlay on the homepage*/
.transition {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.box_image {
    position: relative;
    display: inline-block;
}

.overlay {
    display: none;
}

.box_image:hover .overlay {
    width: 100%;
    height: 100%;
    background-color: darkgray;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    text-align: center;
}

    .box_image:hover .overlay p {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        font-size: 30px;
        text-align: center;
    }

.box_img {
    vertical-align: top;
}
/*end- overlay on the homepage*/


.leisure {
    margin-top: 10%;
    margin-bottom: 10%;
}

/*style for tips_data_visualisation*/
canvas {
    border: 1px dotted red;
    background-color: white;
}

.help_info {
    margin-top:3%;
}
.chart-container {
    position: relative;
    margin: auto;
    height: 100%;
    width: 800px;
}


.about_font {
    text-align: justify;
    font-size: 20px;
    color: #4c4c4c;
}
.about_h {
    font-size: 25px;
    color: #4c4c4c;
}
.help_info {
    margin-top: 3%;
}
.tip_content {
    text-align: justify;
    font-size: 20px;
}

.context_content {
    text-align: justify;
    font-size: 20px;

}
.about_h1 {
    font-size: 30px;
    font: bold;
    color: #4c4c4c;
}
/*style for boxex*/
.services_section {
    margin-right: 15%;
    margin-left: 15%;
    margin-top:10%;
    margin-bottom:10%;
}
.b_card {
    margin-top: 5%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.b_card-title {
    font: bold;
    padding-left: 2%;
    padding-right: 2%;
}

.b_card-text {
    font: bold;
    color: #4c4c4c;
    font-size: 18px;
    text-align: center;
}

.b_card .b_card-body {
    padding-left: 2%;
    padding-right: 2%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Arial Rounded MT";
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

/*Yining.*/
