﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/logo.ico")" />
    <title>@ViewBag.Title - MindVictoria</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Images/logo.png")">
                </a>
            </div>
            <div class="navbar-collapse collapse">           
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Services<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Mental Health Conditions", "ConditionsInfo", "Services")</li>
                            <li>@Html.ActionLink("Professional help", "Search", "Services")</li>
                            <li>@Html.ActionLink("How to help", "Tips", "Services")</li>
                            <li>@Html.ActionLink("Art Spaces", "Index", "Arts")</li>
                            <li>@Html.ActionLink("Sports", "Index", "Sports")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Resources<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Community Mental Health", "MentalHealthContext", "Services")</li>
                            <li>@Html.ActionLink("The Mental Health of Teritiary Students", "YoungPeopleMentalHealth", "Services")</li>
                            <li>@Html.ActionLink("Helplines", "HelpLine", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About us", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
  
    <div class="page-content">
        @RenderBody()
        <div class="footer">
            <br>
            <br>
            <p class="footer_content">Copyright&copy;MindVictoria - We are here to help</p>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>